<html>
	<head>
		<title>A totally original chess game</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
		<div id="Menu">
			<div id="Title">Totally original chess game</div>
			<form action="/play" method="get">
				<button id="play" type="submit">PLAY</button>
			</form>
			Game number:<div id="GamesNum"></div>
			<div id="PlayersNum"></div>
			<h3>
                Chess masters online:
                <%= peopleOnline %> 
                
                <%= gamesNumber %> 
                <%if (gamesNumber != 1) { %>
                    games
                <% } else { %>
                    game
                <% } %>
                running, 
                <%= gamesCompleted %> 
                completed
            </h3>
			<img alt="Chess Piece"></img>
        </div>
	</body>
</html>