* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
}

td {
  border: 1px solid #dddddd;
  background-color: white;
  padding: 0px;
  margin: -2px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.headDiv {
  max-width: 100%;
  margin: 0 auto;
  font-size: 8vw;
}
.header {
  background: black;
  padding: 0px;
  width: 30%;
  height: 17%;
  margin: 0 auto;
  border: 1px solid black;
  box-sizing: border-box;
}
.iconText {
  font-family: newsflashbb;
  color: white;
  width: 40%;
  height: 83%;
  margin-top: 2.3%;
  margin-left: 10%;
  font-size-adjust: inherit;
}
.iconPic {
  width: 33%;
  height: 90%;
  margin-top: 1.6%;
  margin-right: 10%;
  float: right;
}
#Title {
  font-family: newsflashbb;
  font-size: 11vw;
  margin-left: 7%;
  position: relative;
  margin-top: 3%;
  margin-bottom: 5%;
}
#Title::before {
  content: "||";
  width: 10%;
  height: 100%;
  position: absolute;
  left: -60px;
  z-index: 1;
}

#play {
  background: black;
  color: white;
  font-family: newsflashbb;
  font-size: 17vh;
  height: 20vh;
  width: 21vw;
  top: 55%;
  position: absolute;
  margin-left: 40%;
  border: black;
  transition: background 1s;
}
#play:hover {
  background: #585858;
  animation: playMove 1s infinite;
}
#play:active {
  color: black;
  background: #585858;
}
.banner {
  background: black;
  position: absolute;
}
.nonTriangle {
  bottom: 0;
  background-size: cover;
}
.banner1 {
  width: 76%;
  height: 10%;
  left: 12%;
}
.banner2 {
  width: 10%;
  height: 13%;
  left: 0%;
}
.banner3 {
  width: 10%;
  height: 13%;
  right: 0%;
}
.banner4 {
  width: 14%;
  height: 10%;
  right: 0%;
}
.banner5 {
  width: 2%;
  height: 10%;
  left: 10%;
}
.banner6 {
  width: 2%;
  height: 3%;
  left: 10%;
  bottom: 10%;
}
.banner7 {
  width: 2%;
  height: 3%;
  right: 9%;
  bottom: 10%;
  transform: rotateY(180deg);
}
.bottomText {
  color: white;
  font-family: newsflashbb;
  font-size: 2.5vw;
  position: absolute;
  bottom: 0;
  line-height: 90%;
}
.bottomText1 {
  height: 10%;
  left: 23%;
}

.bottomText2 {
  height: 5%;
  left: 23%;
}
.bottomText3 {
  height: 10%;
  left: 63%;
}
.bottomText4 {
  height: 5%;
  left: 63%;
}
@keyframes playMove {
  50% {
    font-size: 15vh;
  }
  100% {
    font-size: 17vh;
  }
}

/* THIS IS A SEPARATOR FOR THE SPLASH AND GAME SCREEN CSS  */

body {
  height: 100vh;
}
.boxDiv {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  align-content: center;
}
.innerDiv {
  position: relative;
  height: 60%;
  width: 50%;
  margin: auto;
}
table {
  /* padding: 10px; */
  /* table-layout: fixed; */
  border-collapse: collapse;
  border: 1vh black solid;
  position: relative;
  /* left: 24%; */
  width: 80%;
  height: 140%;
  top: -20%;
  left: 10%;
  margin: 0;
  padding: 0;
}
td {
  width: 12.5%;
  height: 12.5%;
  border-radius: 5%;
  position: relative;
}
td.black {
  background: #585858;
  border: solid #585858;
}
td.gray {
  background: #c3c3c3;
  border: solid #c3c3c3;
}
.numbers {
  position: absolute;
  height: 140%;
  top: -20%;
  width: 4%;
  box-sizing: content-box;
}
.numbersOne {
  left: 6%;
}
.numbersTwo {
  left: 90%;
}
.letters {
  position: absolute;
  box-sizing: content-box;
  width: 78%;
  height: 10%;
  left: 11%;
}
.lettersOne {
  top: -31%;
}
.lettersTwo {
  bottom: -31%;
}
.gameBanner {
  background: black;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 10%;
}
.gameBannerUser2 {
  top: 0;
}
.gameBannerUser1 {
  bottom: 0;
}
.gameBannerInfo {
  background: white;
  left: 10%;
  width: 80%;
  height: 80%;
}
.gameBannerUser2Info {
  top: 0;
}
.gameBannerUser1Info {
  bottom: 0;
}
.time {
  left: 9%;
  bottom: 0;
}
.movesMade {
  left: 39%;
  bottom: 0;
}
.points {
  left: 89%;
  bottom: 0;
}
.turn {
  color: black;
  top: 41%;
  left: -38%;
  float: left;
}
#exit {
  background: black;
  color: white;
  right: 1%;
  top: 35%;
  width: 25%;
  height: 30%;
  transition: background 1s;
}
#exit:hover {
  background: #585858;
  animation: exitMove 1s infinite;
}
#exit:active {
  color: black;
  background: #585858;
}
.absolute {
  position: absolute;
}
.text {
  font-family: newsflashbb;
  font-size: 8vh;
}
.text::before {
  content: "| ";
}
.text::after {
  content: " |";
}
.error {
  display: none;
}

@keyframes exitMove {
  50% {
    font-size: 7vh;
  }
  100% {
    font-size: 8vh;
  }
}
@media screen and (max-width: 860px) {
  .text {
    font-size: 7vh;
  }
}
@media screen and (max-width: 740px) {
  .text {
    font-size: 6vh;
  }
}
@media screen and (max-width: 700px) {
  .table {
    display: none;
  }
  .turn {
    display: none;
  }
  #exit {
    display: none;
  }
  .innerDiv {
    display: none;
  }
  .error {
    display: block;
    background: #585858;
    border: 3px solid black;
    width: 70%;
    height: 26%;
    left: 15%;
    top: 39%;
    position: relative;
    font-size: 5vw;
    align-content: center;
  }
}
@media screen and (max-height: 400px) {
  .table {
    display: none;
  }
  .turn {
    display: none;
  }
  #exit {
    display: none;
  }
  .innerDiv {
    display: none;
  }
  .error {
    display: block;
    background: #585858;
    border: 3px solid black;
    width: 70%;
    height: 22%;
    left: 15%;
    top: 39%;
    position: relative;
    font-size: 6vh;
  }
}
@font-face {
  font-family: newsflashbb;
  src: url("./NewsflashBB.ttf");
}
